<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luffytrans (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,53}</string>
                <key>spriteSourceSize</key>
                <string>{30,53}</string>
                <key>textureRect</key>
                <string>{{1,32},{30,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luffytrans (52).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{6,1},{29,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luffytrans (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luffytrans (54).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{58,1},{29,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luffytrans (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,53}</string>
                <key>spriteSourceSize</key>
                <string>{30,53}</string>
                <key>textureRect</key>
                <string>{{56,32},{30,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luffytrans (56).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,53}</string>
                <key>spriteSourceSize</key>
                <string>{30,53}</string>
                <key>textureRect</key>
                <string>{{56,32},{30,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luffymainTele.png</string>
            <key>size</key>
            <string>{110,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11b67abc3159d37672db4e43c57b1a43:c33cdbb38b670ff415a44544004e34da:e1f08c2ec9dd68a80871f984892d2b72$</string>
            <key>textureFileName</key>
            <string>luffymainTele.png</string>
        </dict>
    </dict>
</plist>
